@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Disable zoom functionality */
* {
  touch-action: manipulation;
}

html,
body {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Allow text selection for input elements */
input,
textarea,
[contenteditable] {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
